<div class="bg-white shadow">
  <div class="container mx-auto px-4 py-2 md:py-3">
    <div class="flex justify-between items-center">
      <!--Twitter Title -->
      <div class="flex justify-between text-lg md:text-xl font-bold">
        <img class=" flex items-start justify-center h-5 w-5" src="../../../assets/twitter.png" alt=""><h1>Twitter</h1>
      </div>
      <div class="relative">
        <div
          class="bg-blue-200 cursor-pointer text-blue-600 w-10 h-10 flex items-center justify-center rounded-full"
        >
          F
        </div>
      </div>
    </div>
  </div>
</div>
